<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="chetchikEntities" connectionString="metadata=res://*/Resources.Model.csdl|res://*/Resources.Model.ssdl|res://*/Resources.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-507jq80\sqlexpress;initial catalog=chetchik;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>